langgraph
langgraph-prebuilt
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langgraph-sdk
langgraph-supervisor
langgraph-swarm
langchain-mcp-adapters
langchain-ollama
mkdocs
mkdocstrings
mkdocstrings-python
mkdocs-minify-plugin
mkdocs-rss-plugin
mkdocs-git-committers-plugin-2
mkdocs-material[imaging]
markdown-callouts
markdown-include
mkdocs-exclude
mkdocs-exclude-search
psycopg[binary]
psycopg-pool
pygments-ansi-color
vcrpy
click
ruff
jupyter
langchain-cohere
mkdocs-include-markdown-plugin>=7.1.6
mkdocs-material